@page "/inactivepanel"

<div>
    <Panel title="A Panel">
        <p>Some interesting content</p>
    </Panel>

    <ImportantPanel title="Another Panel">
        <p>You won't want to miss this!</p>
    </ImportantPanel>

    <Panel title="Another Panel">
        <p>You won't want to miss this!</p>
    </Panel>

    <Panel title="And finally">
        <p>Not another panel?!</p>
    </Panel>
</div>

@code {

}
